Moto- Drive -- Insta + Facebook.blueprint.json
{
    "name": "Moto: Drive -> Insta + Facebook",
    "flow": [
        {
            "id": 3,
            "module": "google-drive:watchFilesInAFolder",
            "version": 4,
            "parameters": {
                "limit": 1,
                "select": "create",
                "folderId": "/1xDMaWgOe7j80MPrRB2T3oi7EMOb6lpdR",
                "mimeType": "all",
                "__IMTCONN__": 8236474,
                "destination": "drive"
            },
            "mapper": {},
            "metadata": {
                "designer": {
                    "x": 0,
                    "y": 150
                },
                "restore": {
                    "parameters": {
                        "select": {
                            "label": "By Created Time"
                        },
                        "folderId": {
                            "path": [
                                "lllllllll"
                            ]
                        },
                        "mimeType": {
                            "label": "All"
                        },
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "google-restricted"
                            },
                            "label": "moto (motofeelsofficial@gmail.com)"
                        },
                        "destination": {
                            "label": "My Drive"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:google-restricted",
                        "label": "Connection",
                        "required": true
                    },
                    {
                        "type": "hidden"
                    },
                    {
                        "name": "select",
                        "type": "select",
                        "label": "Watch Files",
                        "required": true,
                        "validate": {
                            "enum": [
                                "create",
                                "modify"
                            ]
                        }
                    },
                    {
                        "name": "destination",
                        "type": "select",
                        "label": "Choose a Drive",
                        "required": true,
                        "validate": {
                            "enum": [
                                "drive",
                                "share",
                                "team"
                            ]
                        }
                    },
                    {
                        "name": "mimeType",
                        "type": "select",
                        "label": "File Types to Watch",
                        "required": true,
                        "validate": {
                            "enum": [
                                "all",
                                "document",
                                "spreadsheet",
                                "slide",
                                "drawing"
                            ]
                        }
                    },
                    {
                        "name": "limit",
                        "type": "uinteger",
                        "label": "Limit",
                        "required": true
                    },
                    {
                        "name": "folderId",
                        "type": "folder",
                        "label": "Select the Folder to be Watched",
                        "required": true
                    }
                ]
            }
        },
        {
            "id": 2,
            "module": "google-drive:getAFile",
            "version": 4,
            "parameters": {
                "__IMTCONN__": 8236474
            },
            "mapper": {
                "file": "{{3.id}}",
                "select": "map",
                "formatDrawings": "image/jpeg",
                "formatDocuments": "application/vnd.openxmlformats-officedocument.wordprocessingml.document",
                "formatSpreadsheets": "application/vnd.openxmlformats-officedocument.spreadsheetml.sheet",
                "formatPresentations": "application/vnd.openxmlformats-officedocument.presentationml.presentation"
            },
            "metadata": {
                "designer": {
                    "x": 300,
                    "y": 150
                },
                "restore": {
                    "expect": {
                        "select": {
                            "label": "Enter manually"
                        },
                        "formatDrawings": {
                            "label": "JPEG"
                        },
                        "formatDocuments": {
                            "label": "MS Word Document"
                        },
                        "formatSpreadsheets": {
                            "label": "MS Excel"
                        },
                        "formatPresentations": {
                            "label": "MS PowerPoint"
                        }
                    },
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "google-restricted"
                            },
                            "label": "moto (motofeelsofficial@gmail.com)"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:google-restricted",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "type": "hidden"
                    },
                    {
                        "name": "select",
                        "type": "select",
                        "label": "Enter a File ID",
                        "required": true,
                        "validate": {
                            "enum": [
                                "map",
                                "value"
                            ]
                        }
                    },
                    {
                        "name": "formatDocuments",
                        "type": "select",
                        "label": "Convert Google Documents Files to Format",
                        "required": true,
                        "validate": {
                            "enum": [
                                "application/vnd.openxmlformats-officedocument.wordprocessingml.document",
                                "application/pdf",
                                "application/vnd.oasis.opendocument.text",
                                "text/html",
                                "text/plain",
                                "application/rtf",
                                "text/markdown"
                            ]
                        }
                    },
                    {
                        "name": "formatSpreadsheets",
                        "type": "select",
                        "label": "Convert Google Spreadsheets Files to Format",
                        "required": true,
                        "validate": {
                            "enum": [
                                "application/vnd.openxmlformats-officedocument.spreadsheetml.sheet",
                                "application/x-vnd.oasis.opendocument.spreadsheet",
                                "application/pdf",
                                "text/csv"
                            ]
                        }
                    },
                    {
                        "name": "formatPresentations",
                        "type": "select",
                        "label": "Convert Google Slides Files to Format",
                        "required": true,
                        "validate": {
                            "enum": [
                                "application/vnd.openxmlformats-officedocument.presentationml.presentation",
                                "application/pdf"
                            ]
                        }
                    },
                    {
                        "name": "formatDrawings",
                        "type": "select",
                        "label": "Convert Google Drawings Files to Format",
                        "required": true,
                        "validate": {
                            "enum": [
                                "image/jpeg",
                                "image/png",
                                "image/svg+xml",
                                "application/pdf"
                            ]
                        }
                    },
                    {
                        "name": "file",
                        "type": "text",
                        "label": "File ID",
                        "required": true
                    }
                ]
            }
        },
        {
            "id": 4,
            "module": "discord:createMessage",
            "version": 2,
            "parameters": {
                "__IMTCONN__": 8263201
            },
            "mapper": {
                "files": [
                    {
                        "data": "{{2.data}}",
                        "filename": "{{2.name}}"
                    }
                ],
                "select": "channel",
                "content": "{{2.name}}",
                "channelId": "1373234746724716638",
                "message_reference": {}
            },
            "metadata": {
                "designer": {
                    "x": 600,
                    "y": 150
                },
                "restore": {
                    "expect": {
                        "tts": {
                            "mode": "chose"
                        },
                        "files": {
                            "mode": "chose",
                            "items": [
                                null
                            ]
                        },
                        "embeds": {
                            "mode": "chose"
                        },
                        "select": {
                            "label": "Send a Message to a Channel"
                        },
                        "channelId": {
                            "mode": "chose",
                            "label": "informații generale"
                        },
                        "components": {
                            "mode": "chose"
                        },
                        "sticker_ids": {
                            "mode": "chose"
                        }
                    },
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "discord"
                            },
                            "label": "My Discord connection (Make (team1278341651986911253))"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:discord",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "select",
                        "type": "select",
                        "label": "Choose a Method",
                        "required": true,
                        "validate": {
                            "enum": [
                                "channel",
                                "thread",
                                "user"
                            ]
                        }
                    },
                    {
                        "name": "content",
                        "type": "text",
                        "label": "Message"
                    },
                    {
                        "name": "tts",
                        "type": "boolean",
                        "label": "Is TTS message"
                    },
                    {
                        "name": "embeds",
                        "spec": [
                            {
                                "name": "title",
                                "type": "text",
                                "label": "Title"
                            },
                            {
                                "name": "type",
                                "type": "text",
                                "label": "Type"
                            },
                            {
                                "name": "description",
                                "type": "text",
                                "label": "Description"
                            },
                            {
                                "name": "url",
                                "type": "url",
                                "label": "URL"
                            },
                            {
                                "name": "timestamp",
                                "type": "date",
                                "label": "Timestamp"
                            },
                            {
                                "name": "color",
                                "type": "uinteger",
                                "label": "Color"
                            },
                            {
                                "name": "footer",
                                "spec": [
                                    {
                                        "name": "text",
                                        "type": "text",
                                        "label": "Text"
                                    },
                                    {
                                        "name": "icon_url",
                                        "type": "url",
                                        "label": "Icon URL"
                                    },
                                    {
                                        "name": "proxy_icon_url",
                                        "type": "url",
                                        "label": "Proxy Icon URL"
                                    }
                                ],
                                "type": "collection",
                                "label": "Footer"
                            },
                            {
                                "name": "image",
                                "spec": [
                                    {
                                        "name": "url",
                                        "type": "url",
                                        "label": "URL"
                                    },
                                    {
                                        "name": "proxy_url",
                                        "type": "url",
                                        "label": "Proxy URL"
                                    },
                                    {
                                        "name": "height",
                                        "type": "uinteger",
                                        "label": "Height"
                                    },
                                    {
                                        "name": "width",
                                        "type": "uinteger",
                                        "label": "Width"
                                    }
                                ],
                                "type": "collection",
                                "label": "Image"
                            },
                            {
                                "name": "thumbnail",
                                "spec": [
                                    {
                                        "name": "url",
                                        "type": "url",
                                        "label": "URL"
                                    },
                                    {
                                        "name": "proxy_url",
                                        "type": "url",
                                        "label": "Proxy URL"
                                    },
                                    {
                                        "name": "height",
                                        "type": "uinteger",
                                        "label": "Height"
                                    },
                                    {
                                        "name": "width",
                                        "type": "uinteger",
                                        "label": "Width"
                                    }
                                ],
                                "type": "collection",
                                "label": "Thumbnail"
                            },
                            {
                                "name": "video",
                                "spec": [
                                    {
                                        "name": "url",
                                        "type": "url",
                                        "label": "URL"
                                    },
                                    {
                                        "name": "height",
                                        "type": "uinteger",
                                        "label": "Height"
                                    },
                                    {
                                        "name": "width",
                                        "type": "uinteger",
                                        "label": "Width"
                                    }
                                ],
                                "type": "collection",
                                "label": "Video"
                            },
                            {
                                "name": "provider",
                                "spec": [
                                    {
                                        "name": "name",
                                        "type": "text",
                                        "label": "Name"
                                    },
                                    {
                                        "name": "url",
                                        "type": "url",
                                        "label": "URL"
                                    }
                                ],
                                "type": "collection",
                                "label": "Provider"
                            },
                            {
                                "name": "author",
                                "spec": [
                                    {
                                        "name": "name",
                                        "type": "text",
                                        "label": "Name"
                                    },
                                    {
                                        "name": "url",
                                        "type": "url",
                                        "label": "URL"
                                    },
                                    {
                                        "name": "icon_url",
                                        "type": "url",
                                        "label": "Icon URL"
                                    },
                                    {
                                        "name": "proxy_icon_url",
                                        "type": "url",
                                        "label": "Proxy Icon URL"
                                    }
                                ],
                                "type": "collection",
                                "label": "Author"
                            },
                            {
                                "name": "fields",
                                "spec": [
                                    {
                                        "name": "name",
                                        "type": "text",
                                        "label": "Name"
                                    },
                                    {
                                        "name": "value",
                                        "type": "text",
                                        "label": "Value"
                                    },
                                    {
                                        "name": "inline",
                                        "type": "boolean",
                                        "label": "Inline Flag"
                                    }
                                ],
                                "type": "array",
                                "label": "Fields"
                            }
                        ],
                        "type": "array",
                        "label": "Embeds"
                    },
                    {
                        "name": "sticker_ids",
                        "spec": [
                            {
                                "name": "id",
                                "type": "text",
                                "label": "Sticker ID",
                                "required": true
                            }
                        ],
                        "type": "array",
                        "label": "Stickers"
                    },
                    {
                        "name": "components",
                        "spec": [
                            {
                                "name": "type",
                                "type": "select",
                                "label": "Component Type",
                                "options": [
                                    {
                                        "label": "A New Row",
                                        "value": 1,
                                        "nested": [
                                            {
                                                "name": "components",
                                                "spec": [
                                                    {
                                                        "name": "type",
                                                        "type": "select",
                                                        "label": "Row Component Type",
                                                        "options": [
                                                            {
                                                                "label": "Button",
                                                                "value": 2,
                                                                "nested": [
                                                                    {
                                                                        "name": "style",
                                                                        "type": "select",
                                                                        "label": "Style",
                                                                        "options": [
                                                                            {
                                                                                "label": "Primary (blurple)",
                                                                                "value": 1,
                                                                                "nested": [
                                                                                    {
                                                                                        "help": "A developer-defined identifier for the button, max 100 characters.",
                                                                                        "name": "custom_id",
                                                                                        "type": "text",
                                                                                        "label": "Custom ID",
                                                                                        "required": true
                                                                                    }
                                                                                ]
                                                                            },
                                                                            {
                                                                                "label": "Secondary (grey)",
                                                                                "value": 2,
                                                                                "nested": [
                                                                                    {
                                                                                        "help": "A developer-defined identifier for the button, max 100 characters.",
                                                                                        "name": "custom_id",
                                                                                        "type": "text",
                                                                                        "label": "Custom ID",
                                                                                        "required": true
                                                                                    }
                                                                                ]
                                                                            },
                                                                            {
                                                                                "label": "Success (green)",
                                                                                "value": 3,
                                                                                "nested": [
                                                                                    {
                                                                                        "help": "A developer-defined identifier for the button, max 100 characters.",
                                                                                        "name": "custom_id",
                                                                                        "type": "text",
                                                                                        "label": "Custom ID",
                                                                                        "required": true
                                                                                    }
                                                                                ]
                                                                            },
                                                                            {
                                                                                "label": "Danger (red)",
                                                                                "value": 4,
                                                                                "nested": [
                                                                                    {
                                                                                        "help": "A developer-defined identifier for the button, max 100 characters.",
                                                                                        "name": "custom_id",
                                                                                        "type": "text",
                                                                                        "label": "Custom ID",
                                                                                        "required": true
                                                                                    }
                                                                                ]
                                                                            },
                                                                            {
                                                                                "label": "Link (grey)",
                                                                                "value": 5,
                                                                                "nested": [
                                                                                    {
                                                                                        "help": "A URL for link-style buttons.",
                                                                                        "name": "url",
                                                                                        "type": "url",
                                                                                        "label": "URL",
                                                                                        "required": true
                                                                                    }
                                                                                ]
                                                                            }
                                                                        ],
                                                                        "required": true
                                                                    },
                                                                    {
                                                                        "help": "Text that appears on the button, max 80 characters.",
                                                                        "name": "label",
                                                                        "type": "text",
                                                                        "label": "Label"
                                                                    },
                                                                    {
                                                                        "name": "disabled",
                                                                        "type": "boolean",
                                                                        "label": "Disabled"
                                                                    }
                                                                ]
                                                            },
                                                            {
                                                                "label": "Select Menu",
                                                                "value": 3,
                                                                "nested": [
                                                                    {
                                                                        "help": "A developer-defined identifier for the button, max 100 characters.",
                                                                        "name": "custom_id",
                                                                        "type": "text",
                                                                        "label": "Custom ID",
                                                                        "required": true
                                                                    },
                                                                    {
                                                                        "name": "options",
                                                                        "spec": [
                                                                            {
                                                                                "help": "The user-facing name of the option, max 100 characters.",
                                                                                "name": "label",
                                                                                "type": "text",
                                                                                "label": "Label",
                                                                                "required": true
                                                                            },
                                                                            {
                                                                                "help": "The dev-defined value of the option, max 100 characters.",
                                                                                "name": "value",
                                                                                "type": "text",
                                                                                "label": "Value",
                                                                                "required": true
                                                                            },
                                                                            {
                                                                                "help": "An additional description of the option, max 100 characters.",
                                                                                "name": "description",
                                                                                "type": "text",
                                                                                "label": "Description"
                                                                            },
                                                                            {
                                                                                "name": "default",
                                                                                "type": "boolean",
                                                                                "label": "Default"
                                                                            }
                                                                        ],
                                                                        "type": "array",
                                                                        "label": "Options",
                                                                        "required": true,
                                                                        "validate": {
                                                                            "maxItems": 25
                                                                        }
                                                                    },
                                                                    {
                                                                        "help": "Custom placeholder text if nothing is selected, max 150 characters.",
                                                                        "name": "placeholder",
                                                                        "type": "text",
                                                                        "label": "Placeholder"
                                                                    },
                                                                    {
                                                                        "help": "The minimum number of items that must be chosen; default 1, min 0, max 2.",
                                                                        "name": "min_values",
                                                                        "type": "uinteger",
                                                                        "label": "Minimum values"
                                                                    },
                                                                    {
                                                                        "help": "The maximum number of items that must be chosen; default 1, max 25.",
                                                                        "name": "max_values",
                                                                        "type": "uinteger",
                                                                        "label": "Maximum values"
                                                                    },
                                                                    {
                                                                        "name": "disabled",
                                                                        "type": "boolean",
                                                                        "label": "Disabled"
                                                                    }
                                                                ]
                                                            }
                                                        ],
                                                        "required": true
                                                    }
                                                ],
                                                "type": "array",
                                                "label": "Row Components",
                                                "required": true
                                            }
                                        ]
                                    }
                                ],
                                "required": true
                            }
                        ],
                        "type": "array",
                        "label": "Components"
                    },
                    {
                        "name": "files",
                        "spec": [
                            {
                                "name": "filename",
                                "type": "filename",
                                "label": "File Name",
                                "required": true,
                                "semantic": "file:name"
                            },
                            {
                                "name": "data",
                                "type": "buffer",
                                "label": "Data",
                                "required": true,
                                "semantic": "file:data"
                            }
                        ],
                        "type": "array",
                        "label": "Files"
                    },
                    {
                        "name": "message_reference",
                        "spec": [
                            {
                                "name": "message_id",
                                "type": "text",
                                "label": "Message ID"
                            }
                        ],
                        "type": "collection",
                        "label": "Message Reference"
                    },
                    {
                        "name": "channelId",
                        "type": "select",
                        "label": "Channel ID",
                        "required": true
                    }
                ],
                "advanced": true
            }
        },
        {
            "id": 12,
            "module": "openai-gpt-3:analyzeImages",
            "version": 1,
            "parameters": {
                "__IMTCONN__": 8238798
            },
            "mapper": {
                "model": "gpt-4o",
                "top_p": "1",
                "images": [
                    {
                        "imageUrl": "{{4.attachments[].url}}",
                        "imageUploadType": "url"
                    }
                ],
                "prompt": "Write me a caption about this picture that I can post on Instagram. Give me only the caption, no other words needed and no commas. Please be very specific, if you can identify the bikes model, if not it is fine.",
                "max_tokens": "2048",
                "temperature": "1",
                "n_completions": "1"
            },
            "metadata": {
                "designer": {
                    "x": 900,
                    "y": 150
                },
                "restore": {
                    "expect": {
                        "model": {
                            "mode": "chose",
                            "label": "gpt-4o"
                        },
                        "images": {
                            "mode": "chose",
                            "items": [
                                {
                                    "imageUploadType": {
                                        "mode": "chose",
                                        "label": "Image URL"
                                    }
                                }
                            ]
                        }
                    },
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "openai-gpt-3"
                            },
                            "label": "chatgpt_to_make"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:openai-gpt-3",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "prompt",
                        "type": "text",
                        "label": "Prompt",
                        "required": true
                    },
                    {
                        "name": "images",
                        "spec": {
                            "name": "value",
                            "spec": [
                                {
                                    "name": "imageUploadType",
                                    "type": "select",
                                    "label": "How would you like to specify an image?",
                                    "options": [
                                        {
                                            "label": "Image URL",
                                            "value": "url",
                                            "nested": [
                                                {
                                                    "help": "Public URL of the image. For example, `https://getmyimage.com/myimage.png`.",
                                                    "mode": "edit",
                                                    "name": "imageUrl",
                                                    "type": "url",
                                                    "label": "Image URL",
                                                    "mappable": {
                                                        "help": "Public URL of the image. For example, `https://getmyimage.com/myimage.png`."
                                                    },
                                                    "required": true
                                                }
                                            ],
                                            "default": true
                                        },
                                        {
                                            "label": "Image File",
                                            "value": "imageFile",
                                            "nested": [
                                                {
                                                    "help": "Binary data of the image. For example, you can retrieve the binary data of your image using the __HTTP: Get a file__ module.",
                                                    "name": "imageFileData",
                                                    "type": "buffer",
                                                    "label": "Image File",
                                                    "required": true,
                                                    "semantic": "file:data"
                                                }
                                            ]
                                        }
                                    ],
                                    "required": true
                                }
                            ],
                            "type": "collection",
                            "label": "Image"
                        },
                        "type": "array",
                        "label": "Images",
                        "required": true
                    },
                    {
                        "name": "model",
                        "type": "select",
                        "label": "Model",
                        "required": true
                    },
                    {
                        "name": "max_tokens",
                        "type": "uinteger",
                        "label": "Max Completion Tokens"
                    },
                    {
                        "name": "temperature",
                        "type": "number",
                        "label": "Temperature",
                        "validate": {
                            "max": 2,
                            "min": 0
                        }
                    },
                    {
                        "name": "top_p",
                        "type": "number",
                        "label": "Top P",
                        "validate": {
                            "max": 1,
                            "min": 0
                        }
                    },
                    {
                        "name": "n_completions",
                        "type": "number",
                        "label": "Number"
                    }
                ]
            }
        },
        {
            "id": 7,
            "module": "builtin:BasicRouter",
            "version": 1,
            "mapper": null,
            "metadata": {
                "designer": {
                    "x": 1200,
                    "y": 150
                }
            },
            "routes": [
                {
                    "flow": [
                        {
                            "id": 6,
                            "module": "instagram-business:CreatePostPhoto",
                            "version": 1,
                            "parameters": {
                                "__IMTCONN__": 11314342
                            },
                            "mapper": {
                                "caption": "{{12.result}} #motofeelsofficial",
                                "accountId": "17841474223327013",
                                "image_url": "{{4.attachments[].url}}"
                            },
                            "metadata": {
                                "designer": {
                                    "x": 1500,
                                    "y": 0
                                },
                                "restore": {
                                    "expect": {
                                        "accountId": {
                                            "mode": "chose",
                                            "label": "MotoFeels (@motofeelsofficial)"
                                        },
                                        "user_tags": {
                                            "mode": "chose"
                                        }
                                    },
                                    "parameters": {
                                        "__IMTCONN__": {
                                            "data": {
                                                "scoped": "true",
                                                "connection": "facebook"
                                            },
                                            "label": "motofeels (Matei Pop)"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account:facebook",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "accountId",
                                        "type": "select",
                                        "label": "Page",
                                        "required": true
                                    },
                                    {
                                        "name": "image_url",
                                        "type": "url",
                                        "label": "Photo URL",
                                        "required": true
                                    },
                                    {
                                        "name": "caption",
                                        "type": "text",
                                        "label": "Caption"
                                    },
                                    {
                                        "name": "user_tags",
                                        "spec": [
                                            {
                                                "name": "username",
                                                "type": "text",
                                                "label": "Username",
                                                "required": true,
                                                "validate": {
                                                    "pattern": "^(?!@)"
                                                }
                                            },
                                            {
                                                "name": "x",
                                                "type": "number",
                                                "label": "X position",
                                                "required": true,
                                                "validate": {
                                                    "max": 1,
                                                    "min": 0
                                                }
                                            },
                                            {
                                                "name": "y",
                                                "type": "number",
                                                "label": "Y position",
                                                "required": true,
                                                "validate": {
                                                    "max": 1,
                                                    "min": 0
                                                }
                                            }
                                        ],
                                        "type": "array",
                                        "label": "User Tags"
                                    },
                                    {
                                        "name": "location_id",
                                        "type": "text",
                                        "label": "Location ID"
                                    }
                                ]
                            }
                        },
                        {
                            "id": 13,
                            "module": "google-drive:deleteAFile",
                            "version": 4,
                            "parameters": {
                                "__IMTCONN__": 8236474
                            },
                            "mapper": {
                                "file": "{{2.id}}",
                                "select": "map",
                                "select1": "file"
                            },
                            "metadata": {
                                "designer": {
                                    "x": 1800,
                                    "y": 0
                                },
                                "restore": {
                                    "expect": {
                                        "select": {
                                            "label": "Enter manually"
                                        },
                                        "select1": {
                                            "label": "File"
                                        }
                                    },
                                    "parameters": {
                                        "__IMTCONN__": {
                                            "data": {
                                                "scoped": "true",
                                                "connection": "google-restricted"
                                            },
                                            "label": "moto (motofeelsofficial@gmail.com)"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account:google-restricted",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "type": "hidden"
                                    },
                                    {
                                        "name": "select",
                                        "type": "select",
                                        "label": "Enter a File/Folder ID",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "map",
                                                "value"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "select1",
                                        "type": "select",
                                        "label": "Select File/Folder",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "file",
                                                "folder"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "file",
                                        "type": "text",
                                        "label": "File ID",
                                        "required": true
                                    }
                                ]
                            }
                        }
                    ]
                },
                {
                    "flow": [
                        {
                            "id": 8,
                            "module": "facebook-pages:CreatePostWithPhotos",
                            "version": 6,
                            "parameters": {
                                "__IMTCONN__": 8174137
                            },
                            "mapper": {
                                "photos": [
                                    {
                                        "url": "{{4.attachments[].url}}",
                                        "type": "url"
                                    }
                                ],
                                "message": "{{12.result}} #motofeelsofficial",
                                "page_id": "674114092447655"
                            },
                            "metadata": {
                                "designer": {
                                    "x": 1500,
                                    "y": 300
                                },
                                "restore": {
                                    "expect": {
                                        "photos": {
                                            "mode": "chose",
                                            "items": [
                                                {
                                                    "type": {
                                                        "mode": "chose",
                                                        "label": "download photo from URL"
                                                    }
                                                }
                                            ]
                                        },
                                        "page_id": {
                                            "mode": "chose",
                                            "label": "MotoFeels"
                                        }
                                    },
                                    "parameters": {
                                        "__IMTCONN__": {
                                            "data": {
                                                "scoped": "true",
                                                "connection": "facebook"
                                            },
                                            "label": "My Facebook connection (Matei Pop)"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account:facebook",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "page_id",
                                        "type": "select",
                                        "label": "Page",
                                        "required": true
                                    },
                                    {
                                        "name": "photos",
                                        "spec": [
                                            {
                                                "name": "type",
                                                "type": "select",
                                                "label": "I want to",
                                                "options": [
                                                    {
                                                        "label": "upload a photo",
                                                        "value": "data",
                                                        "nested": [
                                                            {
                                                                "name": "fileName",
                                                                "type": "filename",
                                                                "label": "File name",
                                                                "required": true,
                                                                "semantic": "file:name"
                                                            },
                                                            {
                                                                "name": "data",
                                                                "type": "buffer",
                                                                "label": "Data",
                                                                "required": true,
                                                                "semantic": "file:data"
                                                            }
                                                        ],
                                                        "default": true
                                                    },
                                                    {
                                                        "label": "download photo from URL",
                                                        "value": "url",
                                                        "nested": [
                                                            {
                                                                "name": "url",
                                                                "type": "url",
                                                                "label": "URL",
                                                                "required": true
                                                            }
                                                        ]
                                                    }
                                                ],
                                                "required": true
                                            },
                                            {
                                                "name": "caption",
                                                "type": "text",
                                                "label": "Caption"
                                            }
                                        ],
                                        "type": "array",
                                        "label": "Photos",
                                        "required": true,
                                        "validate": {
                                            "maxItems": 30,
                                            "minItems": 1
                                        }
                                    },
                                    {
                                        "name": "message",
                                        "type": "text",
                                        "label": "Message"
                                    },
                                    {
                                        "name": "date",
                                        "type": "date",
                                        "label": "Date"
                                    }
                                ]
                            }
                        }
                    ]
                }
            ]
        }
    ],
    "metadata": {
        "instant": false,
        "version": 1,
        "scenario": {
            "roundtrips": 1,
            "maxErrors": 3,
            "autoCommit": true,
            "autoCommitTriggerLast": true,
            "sequential": false,
            "slots": null,
            "confidential": false,
            "dataloss": false,
            "dlq": false,
            "freshVariables": false
        },
        "designer": {
            "orphans": []
        },
        "zone": "eu2.make.com",
        "notes": []
    }
}